@import url(hire-modal.css);
@import url(https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800;900&display=swap);
*,
body {
  font-family: Outfit, sans-serif;
  box-sizing: border-box;
}
*,
body,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul {
  margin: 0;
  padding: 0;
}
a,
a:hover {
  text-decoration: none;
}
.col,
.container {
  padding-right: 15px;
  padding-left: 15px;
}
#button,
.crossBtn,
.sit-btn a,
button {
  cursor: pointer;
}
body {
  overflow-x: hidden;
  font-size: 14px;
  color: #000;
  background: #fff;
}
a {
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  color: #337ab7;
}

.form-group {
  margin-bottom: 20px;
}
.send-btn-form input {
  background: #f0aa0e;
  background: -moz-linear-gradient(left, #f0aa0e 0, #f56916 100%);
  background: -webkit-linear-gradient(left, #f0aa0e 0, #f56916 100%);
  background: linear-gradient(to right, #f0aa0e 0, #f56916 100%);
  border: none;
  font-family: Rubik, sans-serif;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  height: 55px;
  border-radius: 4px;
  padding: 0 15px;
}
.offer-modal-box .captchSendBg {
  justify-content: center;
}

ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
.tab-content > .active {
  display: block !important;
}
footer::after,
footer::before,
header::after,
header::before,
section::after,
section::before {
  display: table;
  clear: both;
  content: "";
}
.container {
  margin: auto;
  max-width: 1320px;
}
button {
  padding: 10px 15px;
}
select {
  appearance: none;
}
.ml-atuo,
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.text-center {
  text-align: center;
}
.m-auto {
  margin: auto;
}
.margin0 {
  margin: 0 !important;
}
.d-flex {
  display: flex;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col {
  flex: 1 0 0%;
}
.col-md-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.col-md-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.col-md-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.col-md-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-md-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col-md-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.col-md-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.col-md-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-md-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}
.col-md-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.col-md-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.col-md-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.form-control {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0.375rem 0.75rem;
  font-size: 15px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:disabled,
.form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}
select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}
select.form-control[multiple],
select.form-control[size] {
  height: auto;
}
.logo-w {
  display: none;
}
body .paddTop0 {
  padding-top: 0 !important;
}
body .paddBot0 {
  padding-bottom: 0 !important;
}
body .paddBot20 {
  padding-bottom: 20px !important;
}
.common-btn {
  height: 45px;
  background: #1c6aa3;
  color: #fff;
  border-radius: 15px;
  padding: 20px 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
}
.common-btn svg {
  margin-left: 10px;
}
.white-btn {
  background: #fff;
  color: #000;
}
.btn-group-box {
  margin-top: 40px;
}
.purple-btn {
  background: #1c6aa3;
}
.common-btn.purple-btn svg path {
  stroke: #fff;
}
.common-btn svg path {
  stroke: #000;
}
.common-btn svg path:first-child {
  stroke: none;
}
.common-btn {
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-size: 250% 100%;
  cursor: pointer;
}
.common-btn:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.common-btn svg {
  transition: 0.3s;
}
.common-btn:hover svg {
  transform: rotate(-45deg);
}
.modal-content,
.modal-dialog {
  position: relative;
  pointer-events: auto;
}
.modal-dialog {
  width: auto;
  margin: 30px auto;
}
.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.grecaptcha-badge,
.modal-backdrop.fade {
  opacity: 0;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.text-left {
  text-align: left !important;
}
body.fixed header {
  top: 0;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.full-header,
body.fixed header {
  position: fixed;
  width: 100%;
  left: 0;
}
.full-header {
  padding: 27px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 997;
  top: 0;
  background: #fff !important;
}
.full-header .navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
.right-nav-bt {
  display: flex;
  align-items: center;
}
/* .page-warper{padding-top:99px;} */
.page-warper {
  padding-top: 99px;
}

.inner-warper {
  padding-top: 0 !important;
}

/* body .blog-home{padding-bottom:140px} */

.blog-home .btn-link-arrow:after {
  content: none;
}

.blog-box-in h4 a {
  font-size: 22px;
  color: #252a6a;
  margin-bottom: 12px;
  display: block;
  font-weight: 700;
  line-height: 30px;
  min-height: 50px;
}
.blog-box-in figure img {
  width: 100%;
  border-radius: 25px;
  height: 198px;
  object-fit: cover;
}
.blog-box-in p {
  font-size: 18px;
  line-height: 28px;
  color: #647495;
  min-height: 90px;
}
.blog-box-in figcaption {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0 30px;
}
.blog-box-in figcaption a {
  margin-top: 15px;
}
.blog-box-in .btn-link-arrow {
  position: relative;
  color: #bc4bfc;
  text-transform: uppercase;
  font-size: 14px;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.blog-box-in .btn-link-arrow img {
  width: 21px;
  filter: invert(49%) sepia(87%) saturate(4821%) hue-rotate(256deg)
    brightness(100%) contrast(98%);
  margin-left: 6px;
}
.news-letter-input {
  max-width: 509px;
  margin: 0 auto;
}
.news-letter-box-in p {
  max-width: 750px;
  margin: 0 auto 30px;
  font-size: 18px;
  font-weight: 300;
  font-size: 18px !important;
  line-height: 25px;
}
.news-letter-input .form-group input {
  height: 55px;
  border: none;
  border-radius: 0;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  background: rgb(255 255 255 / 25%);
  padding-left: 25px;
  padding-right: 188px;
  color: #fff;
  border-radius: 16px;
}
.news-letter-input .btn {
  min-width: 160px;
  background: #000;
  border-radius: 11px;
  color: #fff;
  height: 47px;
  margin: auto;
  position: absolute;
  right: 4px;
  top: 0;
  bottom: 0;
  text-transform: uppercase;
  font-size: 14px;
  border: 0;
}
.news-letter-input {
  position: relative;
}
.news-letter-input .form-group {
  border: 1px solid rgb(255 255 255 / 40%);
  border-radius: 16px;
  width: 100%;
  margin-bottom: 0;
}
.news-letter-box {
  background: url(../images/subscibe-bg.webp);
  margin: 30px 30px;
  padding: 70px 0;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.news-letter-input .form-group input::-webkit-input-placeholder {
  color: rgb(255 255 255 / 69%);
  font-weight: 300;
}
.news-letter-input .form-group input:-ms-input-placeholder {
  color: rgb(255 255 255 / 69%);
  font-weight: 300;
}
.news-letter-input .form-group input::placeholder {
  color: rgb(255 255 255 / 69%);
  font-weight: 300;
}
footer {
  background: #0f0d0d;
}
footer .container-fluid {
  padding: 0 60px;
}
.footer-tit {
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.footer-menu li a {
  padding: 8px 0;
  display: inline-block;
  color: rgb(255 255 255 / 76%);
  font-size: 16px;
}
.footer-menu li a:hover {
  color: #fff;
}
.footer-menu-box {
  padding: 70px 0 20px;
}
.get-in-info li {
  color: rgb(255 255 255 / 76%);
  padding: 8px 0;
  font-size: 16px;
}
.get-in-info li a {
  color: #fb0;
  font-weight: 300;
}
.get-in-info li span {
  font-weight: 600;
}
.get-in-info li a:hover {
  text-decoration: underline;
  color: #fe9645;
}
.get-in-touch {
  border-left: 1px solid rgb(255 255 255 / 21%);
  padding-left: 40px;
}
.serving-footer {
  background: #0f0d0d;
  padding: 30px 0 60px;
}
.serving-footer h4 {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  padding-bottom: 10px;
}
.serving-footer p {
  color: rgb(255 255 255 / 76%);
  font-size: 18px;
  max-width: 800px;
  margin: auto;
  line-height: 30px;
}
.serving-footer {
  border-bottom: 1px solid rgb(255 255 255 / 21%);
  margin: 0 30px;
}
.footer-social-icon ul li {
  margin-left: 10px;
}
.footer-social-icon li {
  margin-right: 14px;
}
.footer-social-icon {
  display: flex;
  align-items: center;
}
.footer-social-in {
  align-items: center;
  justify-content: space-between;
}
.footer-social-in h6 {
  font-size: 26px;
  color: #fff;
}
.footer-social {
  background: #0f0d0d;
  padding: 30px 0 70px;
}
.footer-copyright {
  background: #000;
  padding: 20px 0;
}
.footer-copyright-in {
  justify-content: space-between;
  color: rgb(255 255 255 / 58%);
  align-items: center;
}
.footer-copyright-in span {
  font-size: 16px;
}
.footer-copyright-in ul li a {
  color: #fff;
  display: block;
  font-size: 16px;
}
.footer-copyright-in ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
.footer-copyright-in ul li {
  margin-left: 20px;
}
.footer-copyright-in ul,
.footer-social-icon ul {
  display: inline-flex;
  align-items: center;
}
.dmca-badge {
  margin-left: 20px;
}
.rating-tag {
  background: #1c9c35;
  padding: 10px 15px;
  height: 26px;
  display: flex;
  align-items: center;
  border-radius: 20px;
}
.rating-tag img {
  margin-right: 8px;
}
.rating-star {
  color: #fff;
  display: inline-flex;
  border-radius: 8px;
  align-items: center;
}
.rating-star span {
  margin-left: 10px;
  font-size: 16px;
}
.resourcesBox {
  position: relative;
}
.resourcesBox:hover .resourcesDropdownBg {
  display: block;
}
.resourcesDropdownBg {
  position: absolute;
  right: 25px;
  top: 38px;
  width: 185px;
  padding-top: 15px;
  display: none;
}
.resourcesDropdownBg ul {
  background: #fff;
  border: 1px solid #e3e3e3;
  box-shadow: 0 2px 10px rgb(0 0 0 / 11%);
  border-radius: 5px;
  width: 100%;
  position: relative;
}
.resourcesDropdownBg ul:before {
  content: "";
  border-bottom: solid 10px #fff;
  border-left: solid 8px transparent;
  border-right: solid 8px transparent;
  position: absolute;
  right: 15px;
  top: -10px;
}
.resourcesDropdownBg li {
  border-bottom: solid 1px #e3e3e3;
  padding: 10px 5px;
}
.resourcesDropdownBg li:last-child {
  border-bottom: none;
}
.resourcesDropdownBg li a {
  box-shadow: none;
  border: none;
  padding: 12px 12px;
  font-size: 14px;
  font-weight: 400;
}
.resourcesDropdownBg li a:hover {
  color: #f89b20;
}
.grey-bg {
  background: #f8f8f8;
}
.space-comm {
  padding: 80px 0;
}
.title-head {
  margin-bottom: 40px;
}
.title-head h2 {
  font-size: 44px;
  color: #252a6a;
  font-weight: 700;
  padding-bottom: 10px;
}
.title-head p {
  color: #647495;
  font-size: 20px;
  line-height: 28px;
}
.title-head small {
  font-size: 14px;
  color: #19b8ff;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  padding-bottom: 10px;
}
.title-head .purple-tag {
  color: #6324d2;
}
.title-head .green-tag {
  color: #6bdc44;
}
.title-head .orange-tag {
  color: #f89412;
}
.text-black {
  color: #111 !important;
}
.title-head span {
  display: block;
}
.title-head span {
  padding-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
}
.text-white {
  color: #fff !important;
}
.title-head.text-center p {
  max-width: 800px;
  margin: auto;
}
.cta-bg {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5), /* Top gradient color with opacity */
      rgba(0, 0, 0, 0.5)  /* Bottom gradient color with opacity */
    ),
    url(https://t4.ftcdn.net/jpg/03/07/84/81/240_F_307848114_1lnE2fbPBaDCQLZ5fENv062D2PxeXMAP.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  height: 451px;
  display: flex;
}

.cta-black .row {
  align-items: center;
}
.cta-content-r {
  width: 50%;
  margin-left: auto;
  display: flex;
  align-items: center;
}
.cta-content-r {
  width: 55%;
  margin-left: auto;
  display: flex;
  align-items: center;
  padding: 0 18px;
}
.cta-black .title-head {
  margin-bottom: 0;
}
.cta-black .title-head p {
  font-size: 20px;
  font-weight: 300;
}
.cta-blue-bg {
  background: #eff2ff;
  display: flex;
  border-radius: 20px;
}
.cta-blue-l {
  width: 60%;
  display: flex;
  align-items: center;
  padding: 50px 80px;
}
.cta-blue-r:after {
  background: url(../images/cta-pettern.svg);
  content: "";
  position: absolute;
  right: 45px;
  bottom: 0;
  width: 524px;
  height: 352px;
}
.cta-blue-r {
  flex: 1;
  position: relative;
  padding-top: 20px;
}
.cta-blue-r figure {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  position: relative;
  z-index: 9;
}
.cta-blue .container:hover .cta-blue-r figure {
  animation-name: bounce2;
  -moz-animation-name: bounce2;
}
.cta-blue-r figure img {
  z-index: 9;
  position: relative;
  display: block;
}
.cta-blue-l h2 {
  color: #000;
}
.cta-blue-l p {
  color: #000;
}
.cta-blue-l .title-head.text-left {
  margin-bottom: 0;
}
.gredient-cta {
  background: url(../images/pettern-img-cta.webp);
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  margin: 0 35px;
}
.gredient-cta .title-head {
  margin-bottom: 0;
}
.cta-color {
  background: url(../images/cta-color-bg.webp);
  background-size: cover;
  background-position: center;
}
.cta-color.space-comm {
  padding: 0 !important;
}

.cta-color-box {
  display: flex;
  align-items: center;
}
.cta-color-l {
  width: 51%;
}
.cta-color-r {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: -110px;
}
.cta-color-r figure {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.cta-color .container:hover .cta-color-r figure {
  animation-name: bounce2;
  -moz-animation-name: bounce2;
}
.cta-color-r figure img {
  display: block;
}
.cta-color-l {
  padding-left: 50px;
}
.awards-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.awards-box-left {
  display: flex;
  align-items: center;
}
.awards-box-left figcaption {
  padding-left: 60px;
}
.awards-box-left figcaption h4 {
  font-size: 26px;
  font-weight: 600;
  color: #252a6a;
  padding-bottom: 5px;
}
.awards-box-left figcaption a {
  font-size: 16px;
  color: #bc4bfc;
  font-weight: 400;
}
.awards-box-left img {
  height: auto;
}

.awards-list li {
  border-bottom: 1px solid #e6e7f6;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.awards-list li:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.awards-box-left figure {
  width: 178px;
}
.our-offices article {
  border: 1px solid #e6e7f6;
  border-radius: 20px;
  height: 100%;
  overflow: hidden;
}
.our-offices article figcaption {
  padding: 30px 30px;
}
.our-offices article figcaption h4 {
  font-size: 20px;
  font-weight: 700;
  color: #252a6a;
  padding-bottom: 12px;
}
.our-offices article figcaption p {
  font-size: 16px;
  color: #647495;
  line-height: 21px;
  min-height: 64px;
}
.our-offices article figcaption a {
  font-size: 16px;
  color: #bc4bfc;
  padding-top: 15px;
  display: block;
  font-weight: 600;
}
.our-offices article figure img {
  height: 130px;
}
.nav-left {
  display: flex;
  flex: 1;
  align-items: center;
}
.navlist {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.navlist li a {
  font-size: 16px;
  color: #2b2b2b;
  font-weight: 600;
}
.navlist > li > a,
.resourcesBox {
  padding: 10px 20px;
}
.quote-bg {
  background: #8732cd;
}
.header-btn {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
}
.whatsapp-bg {
  background: #25d366;
}
.menu-bg {
  background: #575757;
}
.common-btn.GetQuoteBtn {
  margin-left: 10px;
}
.icon-box {
  display: flex;
}
body.hidescroll {
  overflow: hidden;
}
.accordion-list li.panel .answer .panel-body {
  font-size: 16px;
  line-height: 30px;
}

.tab_container {
  min-height: 262px;
}

.offer-modal-btn img {
  max-width: 320px;
}
.christmasTagBox {
  position: fixed;
  top: 85px;
  right: 10px;
  -webkit-animation: 1s infinite alternate mover;
  animation: 1s infinite alternate mover;
}

.christmasTagBox img {
  max-width: 170px;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

@keyframes move {
  from {
    right: 0;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  to {
    right: -580%;
  }
}

.intl-tel-input {
  width: 100%;
}
.form-group textarea.form-control {
  height: 120px;
}
.RequestBox article h4,
.RequestBox article h5,
.send-btn-form input,
.sit-btn a {
  text-transform: uppercase;
  color: #fff;
}

/*important css*/
body .inner-wraper {
  padding-top: 0 !important;
}
.snow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999;
}
.main-heading-box {
  max-width: 770px;
  margin: auto auto 60px;
  margin-bottom: 60px;
  text-align: center;
  padding: 0 15px;
}
.main-heading-box h1,
.main-heading-box h2,
.main-heading-box h3 {
  font-size: 44px;
  color: #181b1b;
  font-family: Cambria-Bold;
  margin-bottom: 10px;
}
.menu-icon {
  background: none;
  border: none;
  padding: 0;
}
.branding-logo a {
  min-width: 140px;
}
.branding-logo a img {
  min-width: 140px;
}
.on-demand-top-section {
  background: #343236;
  border-bottom: 3px solid #e34690;
}
.on-demand-top-section h2 {
  font-size: 40px;
  color: #fff;
  font-family: Cambria-Bold;
  margin-bottom: 15px;
}
.on-demand-top-section p {
  font-size: 16px;
  color: #fff;
  line-height: 24px;
  margin-bottom: 15px;
}

.no-data-found {
  text-align: center;
}
.no-data-found figcaption {
  margin-top: 50px;
}
.no-data-found h3 {
  font-size: 28px;
  color: #181b1b;
  font-family: "Cambria-Bold";
  margin-bottom: 10px;
}

@media (max-width: 1350px) {
  .full-header {
    padding: 25px 20px;
  }
  .navlist > li > a,
  .resourcesBox {
    padding: 10px 10px;
  }
  .rating-star {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .footer-social {
    background: #0f0d0d;
    padding: 30px 0 40px;
  }
  .title-head h2 {
    font-size: 32px;
  }
}

@media (max-width: 991px) {
  .cta-blue-l {
    width: 100%;
    padding: 10px 20px;
  }
  .cta-blue .title-head h2 {
    font-size: 26px;
  }
  .cta-blue-r:after {
    background-repeat: no-repeat;
    background-position: right 6px bottom;
    width: 124%;
    height: 100%;
    background-size: contain;
    right: 0;
  }
  .footer-social-in {
    flex-direction: column;
  }
  .rating-star {
    margin-top: 20px;
  }
  .footer-menu-box .col-md-2,
  .footer-menu-box .col-md-3 {
    max-width: 50%;
    flex: 0 0 50%;
    margin-bottom: 45px;
  }
  .footer-menu-box {
    padding: 40px 0 20px;
  }
  .serving-footer {
    padding: 30px 0 40px;
  }
  .icon-box {
    flex-direction: column-reverse;
    position: fixed;
    right: 0;
    top: 140px;
  }
  .menu-bg,
  .quote-bg,
  .whatsapp-bg {
    border-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 3px;
    margin-right: 0;
  }
  .menu-icon {
    display: block !important;
    cursor: pointer;
  }
  .menu-icon svg {
    width: 20px;
    height: 20px;
    margin-left: auto;
    display: block;
  }
  .navlist-main {
    background-color: #000;
    position: fixed;
    top: 0;
    left: -350px;
    z-index: 9;
    width: 300px;
    height: 100vh;
    transition: 0.3s;
    padding-top: 40px;
    overflow: auto;
  }
  .navlist-main.show {
    transition: 0.5s;
    left: 0;
    margin-left: 0;
  }
  .navlist {
    flex-wrap: wrap;
    margin-left: 0;
  }
  .navlist > li > a {
    padding: 10px 10px;
    font-size: 14px;
    display: block;
    color: #fff !important;
  }
  .navlist li a {
    color: #fff;
  }
  ul.navlist li {
    width: 100%;
  }
  nav.nav-list {
    position: absolute;
    right: 20px;
  }
  .right-nav-bt {
    margin-right: 40px;
  }
  .page-warper {
    padding-top: 99px;
  }
  .common-btn {
    padding: 20px 20px;
    height: 40px;
  }
  .cta-color-r {
    margin-top: 0;
  }
  .cta-color-l {
    padding-left: 50px;
    padding-top: 40px;
  }
  .awards-box-left figcaption {
    padding-left: 40px;
    flex: 1;
  }
  .awards-box-left figcaption {
    padding-left: 0;
    width: 100%;
    flex: inherit;
  }
  .awards-box-left {
    flex-wrap: wrap;
  }
  .row.office-location-box .col-md-3 {
    max-width: 50%;
    flex: 0 0 50%;
    margin-bottom: 20px;
  }
  .our-offices article figure img {
    height: 130px;
    width: 100%;
  }

  .resourcesDropdownBg {
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    padding-top: 0;
    display: block;
    margin-top: 15px;
  }
  .resourcesDropdownBg ul:before {
    content: none;
  }
  .resourcesDropdownBg ul {
    background: #2d2d2d;
    border: none;
  }
  .resourcesDropdownBg li {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
  }
  .resourcesDropdownBg li a {
    display: block;
  }
  .navlist li a {
    width: 100%;
  }
  .navlist li a .price-text {
    display: block !important;
  }
  body .price-btn {
    justify-content: flex-start !important;
  }
}
@media (max-width: 767px) {
  .footer-menu-box .col-md-4 {
    max-width: 50%;
    flex: 0 0 50%;
    margin-bottom: 45px;
  }
  .rating-star {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-copyright-in {
    flex-direction: column;
  }
  .rating-star span {
    margin-left: 0;
    margin-top: 10px;
  }
  .cta-bg {
    height: 365px;
  }
  .outer {
    width: 75%;
    margin: auto;
  }
  section.our-testimonial.space-comm {
    padding-bottom: 55px;
  }
  .awards-box-left figcaption h4 {
    font-size: 22px;
  }
  section.our-offices.space-comm.paddTop0 {
    padding: 40px 0;
  }
  .cta-color-l {
    padding-left: 15px;
  }
  .news-letter-input .form-group input {
    padding-right: 30px;
  }
  .common-btn {
    padding: 20px 20px;
    height: 39px;
  }
  .cta-color-box {
    flex-direction: column;
  }
  .cta-color-l {
    width: 90%;
    padding-top: 100px;
    padding-right: 100px;
  }
  .cta-color-r img {
    width: 53%;
    margin-left: auto;
    margin-top: -154px;
  }
  .cta-color-l {
    padding-left: 15px;
    padding-top: 60px;
  }
  .title-head h2 br {
    display: none;
  }
  .title-head h2 {
    font-size: 26px;
  }
  body .faq-inner {
    padding-bottom: 30px !important;
  }
  .main-heading-box h1,
  .main-heading-box h2,
  .main-heading-box h3 {
    font-size: 26px;
  }
  .space-comm {
    padding: 40px 0px;
  }
  .main-heading-box {
    margin-bottom: 30px;
  }
  .accordion-list li.panel h3.panel-title {
    font-size: 16px;
  }
  .christmasTagBox {
    right: 40px;
  }
}

@media (max-width: 600px) {
  .footer-menu-box .col-md-4 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

@media (max-width: 480px) {
  .branding-logo a {
    margin-right: 24px;
    display: block;
  }
  .common-btn {
    padding: 20px 20px;
    height: 34px;
    font-size: 11px;
  }
  .full-header {
    padding: 20px 20px;
  }
  .news-letter-input {
    flex-direction: column;
  }
  .news-letter-input .btn {
    min-width: 100%;
  }
  .news-letter-input .btn {
    position: static;
  }
  .news-letter-input .form-group {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -4px;
  }
  .news-letter-box {
    padding: 30px 0;
  }
  .footer-menu-box .col-md-2,
  .footer-menu-box .col-md-3 {
    max-width: 100%;
    flex: 0 0 100%;
    margin-bottom: 45px;
  }
  .get-in-touch {
    border-left: 0;
    padding-left: 0;
  }
  .footer-menu-box .col-md-4 {
    margin-bottom: 0;
  }
  .serving-footer h4 {
    font-size: 20px;
  }
  .footer-social-icon {
    flex-direction: column;
  }
  .footer-social-icon ul {
    margin-bottom: 15px;
  }
  .rating-star {
    text-align: center;
  }
  .footer-copyright-in {
    flex-direction: column;
    text-align: center;
  }
  .footer-copyright-in ul {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }
  .navlist-main {
    width: 230px;
  }
  .news-letter-box-in p {
    font-size: 16px !important;
  }
  .cta-color-l {
    padding-left: 0;
    padding-top: 60px;
    padding-right: 0;
  }
  .cta-color-r img {
    margin-top: -138px;
  }
  .cta-blue .title-head h2 {
    font-size: 20px;
  }
  .cta-content-r .title-head h2 {
    font-size: 24px;
  }
  .space-comm {
    padding: 40px 0px;
  }
  .row.office-location-box .col-md-3 {
    max-width: 100%;
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
  .title-head h2 {
    font-size: 24px;
  }
  .footer-tit {
    margin-bottom: 15px;
  }
  .footer-menu-box .col-md-2,
  .footer-menu-box .col-md-3 {
    margin-bottom: 30px;
  }
  .our-offices article figcaption p {
    min-height: 10px;
  }
  .footer-menu li a {
    font-size: 15px;
  }

  .news-letter-input .btn {
    margin-top: 30px;
  }
  .news-letter-input .form-group {
    border: none;
  }
}
